[Desktop Entry]
Version=1.0
Name=Discord
Exec=omisu-launch-webapp https://discord.com/channels/@me
Terminal=false
Type=Application
Icon=omisu-discord
StartupNotify=true
